header img {
    width: 100%;
    height: auto;
}

main {
    padding: 20px;
}

.team-members {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.team-members h1, .member h2, .profile-text h3 {
    background: -webkit-linear-gradient(orange, purple);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    font-size: 2em;
}

.member {
    margin: 40px 0;
}

.profile {
    display: flex;
    align-items: flex-start;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    text-align: left;
}

.profile img {
    width: 300px;
    height: 380px;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 20px;
}

.profile-text {
    flex: 1;
}

.profile-text p {
    font-style: italic;
}

.profile-text ul {
    list-style-type: none;
    padding: 0;
}

.profile-text ul ul {
    margin-top: 10px;
    margin-bottom: 10px;
}

.profile-text ul li {
    margin-bottom: 10px;
}

.profile-text ul ul li {
    margin-bottom: 5px;
}