header img {
  width: 100%;
  height: auto;
}

main {
    padding: 20px 5%;
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.team-members {
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
}

.team-members h1, .member h2, .member h3 {
    background: -webkit-linear-gradient(orange, purple);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}

.project-title h1 {
  font-size: 4em;
}

.team-members h1 {
    font-size: 4em;
    margin-bottom: 10px;
}

.member h2 {
    font-size: 2.5em;
}

.profile-text h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.member {
    margin: 40px 0;
    text-align: left;
}

.member p {
  margin-bottom: 20px;
}

.profile {
  display: flex;
  align-items: flex-start;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
  text-align: left;
}

.profile img {
  width: 100%;
  max-width: 300px;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  margin-right: 20px;
  margin-top: 20px;
}

.profile-text {
  flex: 1;
  /* height: 500px; */
  max-width: 70%;
}

.profile-text ul li {
  font-weight: 500;
}

.profile-text ul {
  margin-bottom: 20px;
}

hr.rounded {
    border-top: 3px solid #bbb;
    border-radius: 5px;
  }


@media (max-width: 768px) {
  .profile {
    flex-direction: column;
    align-items: center;
    text-align: left;
  }

  .profile img {
    margin: 0 0 20px 0;
    width: 80%;
  }

  .profile-text {
    max-width: 100%;
  }

  .team-members h1 {
    font-size: 3em;
  }

  .team-members {
    max-width: 90%;
  }

  .member h2 {
    font-size: 1.5em;
    margin-left: 0;
  }
}

@media (max-width: 480px) {
  .team-members h1 {
    font-size: 2.5em;
  }

  .member h2 {
    font-size: 1.2em;
  }

  .profile-text h3 {
    font-size: 1.2em;
  }

  .team-members {
    max-width: 90%;
  }

  .team-members p {
    font-size: 0.9em;
  }
}
