footer {
  margin-bottom: 0;
  padding-bottom: 0;
}

.footer-link {
  text-decoration: none;
  position: relative;
}

.footer-link:hover {
  background: -webkit-linear-gradient(orange, purple);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;}

  .footer-link::after {
    content: "";
    position: absolute;
    left: 0;
    right: 100%;
    bottom: -2px;
    height: 2px;
    background: -webkit-linear-gradient(orange, purple);
    transition: right 0.5s ease-in-out, background-color 0.5s ease;
  }

  .footer-link:hover::after {
    right: 0;
    background: -webkit-linear-gradient(orange, purple);
  }

.h4Style {
  font-size: 1.2em;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
  font-weight: bold;

  background: -webkit-linear-gradient(orange, purple);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradientText {
  background: -webkit-linear-gradient(orange, purple);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

}
